<mat-drawer-container class="max-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <p>Platz für Logo</p>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>
        <span> Simple CRM </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</mat-drawer-container>
