.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar {
  background-color: #004f4f;
  color: #00dddd;
  span {
    color: white;
  }
}
.max-drawer-container {
  height: 100vh;
  background-color: #00dddd;
}
.example-sidenav {
  width: 200px;
  padding: 20px;
  text-align: center;
  background-color: #058686;
}
